# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Base de datos
*.db
*.sqlite3

# Archivos temporales
temp/
tmp/

# Compilados
build/
dist/

# PyInstaller
*.spec
